@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500&family=Inter:wght@300;400;500&family=Josefin+Sans:wght@100;200;300;400;500&family=Pacifico&family=Permanent+Marker&family=Space+Mono&display=swap');

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Baloo Tamma 2', sans-serif;
  color: #545659;
}

a {
  color: #545659;
}

.h1Font {
  font-family: 'Pacifico', sans-serif;
  letter-spacing: 3px;
  text-align: center;
}

.pageStyles {
  margin: 6vw;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.buttonStyles {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 4px;
  border: 2px solid #545659;
  /* border-radius: 4px; */
  border-radius: 30px;
  background-color: transparent;
}
.buttonStyles:hover {
  outline: 3px solid #389583;
  border: 2px solid #389583;
}
.buttonStyles:focus {
  border: 3px solid #389583;
}

input,
textarea {
  border-radius: 4px;
  border: 2px solid #ebebeb;
}
input:focus,
textarea:focus {
  border: 2px solid #05396b;
}

@media screen and (min-width: 900px) {
  .responsive {
    width: 60%;
    margin-top: 30px;
  }
}

.responsive.flexColumn {
  align-items: center;
  justify-content: center;
}
